.mt-6 {
  margin-top: 5rem;
}

.fs-7 {
  font-size: 14px;
}
.fs-8 {
  font-size: 10px;
}
.fs-0 {
  font-size: 0px;
}
nav .container .logo-img {
  width: 120px;
}
.nav-item .avatar-img {
  width: 40px;
}
body {
  background-color: #141414;
}

form {
  color: white;
}

main {
  color: white;
}
main img {
  width: 100%;
}

footer {
  width: 800px;
}
